= form_for @trip, html: {class: 'kasoko-form'} do |f|
  .box-body.kasoko-body
    .row
      .col-md-12
        - if @trip.errors.any?
          #error_explanation
            %h2= "#{pluralize(@trip.errors.count, "error")} prohibited this trip from being saved:"
            %ul
              - @trip.errors.full_messages.each do |msg|
                %li= msg
        .nav-tabs-custom
          %ul.nav.nav-tabs
            %li.header
              %i.fa.fa-truck
              %strong Trip Details
          .tab-content
            - if !@trip.new_record?
              %input#trip-truck{type: 'hidden', value: "#{@trip.truck.blank? ? '' : @trip.truck.id}"}
              %input#trip-depot{type: 'hidden', value: "#{@trip.depot.blank? ? '' : @trip.depot.id}"}
              %input#trip-destination{type: 'hidden', value: "#{@trip.destination.blank? ? '' : @trip.destination.id}"}
              %input#trip-consignee{type: 'hidden', value: "#{@trip.consignee.blank? ? '' : @trip.consignee.id}"}
              %input#trip-product{type: 'hidden', value: "#{@trip.product.blank? ? '' : @trip.product.id}"}
            - else
              %input#trip-truck{type: 'hidden', value: params[:truck]}
            .row
              .col-sm-6
                .form-group
                  = f.label :truck
                  %select.form-control{name: "trip[truck_id]"}
                    - Truck.all.each do |truck|
                      %option{value: truck.id}
                        = truck.registration_number
              .col-sm-6
                .form-group
                  = f.label :driver
                  %select.form-control{name: "trip[driver_id]"}
                    - Driver.all.each do |driver|
                      %option{value: driver.id}
                        = driver.name
            .row
              .col-sm-6
                .form-group
                  = f.label :turn_boy
                  %select.form-control{name: "trip[turn_boy_id]"}
                    - TurnBoy.all.each do |turn_boy|
                      %option{value: turn_boy.id}
                        = turn_boy.name
              .col-sm-6
                .form-group
                  = f.label :date
                  = f.text_field :date, class: "form-control datepicker"
            .row
              .col-sm-6
                .form-group
                  = f.label :depot_id
                  %select.form-control{name: "trip[depot_id]"}
                    - City.where(city_type: 'Depot').each do |depot|
                      %option{value: depot.id}
                        = depot.name
              .col-sm-6
                .form-group
                  = f.label :destination_id
                  %select.form-control{name: "trip[destination_id]"}
                    - City.where(city_type: 'Destination').each do |destination|
                      %option{value: destination.id}
                        = destination.name
            .row
              .col-sm-6
                .form-group
                  = f.label :consignee
                  %select.form-control{name: "trip[consignee_id]"}
                    - Consignee.all.each do |consignee|
                      %option{value: consignee.id}
                        = consignee.name
              .col-sm-6
                .form-group
                  = f.label :product
                  %select.form-control{name: "trip[product_id]"}
                    - Product.where(product_type: 'Load').each do |product|
                      %option{value: product.id}
                        = product.name
            .row
              .col-sm-6
                .form-group
                  = f.label :quantity
                  = f.number_field :quantity, class: 'form-control'
              .col-sm-6
                .form-group
                  = f.label :rate
                  = f.text_field :rate, class: 'form-control'
            .row
              .col-sm-6
                .form-group
                  = f.label :amount
                  = f.text_field :amount, class: 'form-control'
              .col-sm-6
                .form-group
                  = f.label :commission
                  = f.text_field :commission, class: 'form-control'
            .row
              .col-sm-6
                .form-group
                  = f.label :currency
                  %select.form-control#selectCurrency{name: "trip[currency]"}
                    %option{value: "Kenya Shilling", selected: @trip.currency == "Kenya Shilling"}
                      Kenya Shilling
                    %option{value: "US Dollar", selected: @trip.currency == "US Dollar"}
                      US Dollar
              .col-sm-6
                .form-group
                  = label_tag :exchange_rate
                  = text_field_tag :exchange_rate, ExchangeRate.first.try(:rate), class: 'form-control', disabled: true
            .row
              .col-sm-12
                .form-group
                  = f.label :short
                  = f.text_field :short, class: 'form-control'
            .row
              .col-sm-12
                .form-group
                  = f.label :description
                  = f.text_area :description, class: 'form-control'
        .nav-tabs-custom
          %ul.nav.nav-tabs
            %li.header
              %i.fa.fa-user
              %strong Mileage (Kenya Shilling)
          .tab-content
            .row
              .col-sm-6
                .form-group
                  = f.label :mileage
                  = f.text_field :mileage, class: 'form-control'
              .col-sm-6
                .form-group
                  %label Mileage LPO
                  %input.form-control.mileage_lpo{type: "text", name: "mileage_lpo", value: @trip.new_record? ? nil : @trip.mileage_expense.try(:lpo)}
        .nav-tabs-custom
          %ul.nav.nav-tabs
            %li.header
              %i.fa.fa-industry
              %strong Diesel Expenses
            %li.pull-right
              %a.btn.btn-default#add_diesel{href: "#", data: {index: session[:index]}}
                %i.fa.fa-plus
                Add Another
          .tab-content#diesel_expenses_section
            - if @trip.new_record?
              = render partial: 'diesel_expense', locals: {index: session[:index], first: true, new_record: true}
            - else
              - @trip.diesel_expenses.each do |dx|
                = render partial: 'diesel_expense', locals: {index: dx.id, first: true, diesel_expense: dx, new_record: false}
  .box-footer.kasoko-footer
    .actions.pull-right
      %button.btn.btn-kasoko.btn-rounded{"data-original-title" => "", :title => "", :type => "submit"}
        %i.fa.fa-save
        Save
