.box.box-kasoko
  .box-header.with-border
    %h3.box-title
      = @trip.name
    .box-tools.pull-right
      .btn-toolbar{role: "toolbar"}
        .btn-group
          %a.btn.btn-box-tool.btn-default{href: edit_trip_path(@trip)}
            %i.fa.fa-edit
            Edit
          %a.btn.btn-box-tool.btn-default
            %i.fa.fa-times
            Delete
  .box-body.kasoko-body
    .row
      .col-lg-3
        %strong Truck:
        = link_to @trip.truck.name, @trip.truck
      .col-lg-3
        %strong Consignee:
        = @trip.consignee.name
      .col-lg-3
        %strong Depot:
        = @trip.depot.name
      .col-lg-3
        %strong Destination:
        = @trip.destination.name
    %br
    .row
      .col-lg-3
        %strong Product:
        = @trip.product.name
      .col-lg-3
        %strong Quantity:
        = @trip.quantity
      .col-lg-3
        %strong Rate:
        = @trip.rate
      .col-lg-3
        %strong Amount:
        = to_currency(@trip.amount, unit: '')
    %br
    .row
      .col-lg-3
        %strong Commission:
        = to_currency(@trip.commission, unit: '')
      .col-lg-3
        %strong Short:
        = to_currency(@trip.short, unit: '')
      .col-lg-3
        %strong Currency:
        = @trip.currency
      .col-lg-3
        %strong Expenses:
        = to_currency(@trip.total_expenses, unit: '')
    %br
    .row
      .col-lg-12
        %blockquote
          = @trip.description
    %br
    .row
      .col-lg-12
        .adv-table
          %table#example.exchange-rate.display.table.table-bordered.table-striped
            %thead
              %tr
                %th LPO
                %th Account
                %th Truck
                %th Entity
                %th Quantity
                %th Price
                %th Total Amount
                %th Description
            %tbody.expenses_table
              - @trip.expenses.each do |expense|
                %tr.gradeX
                  %td
                    = link_to expense.lpo, expense_path(expense)
                  %td
                    = link_to expense.category.name, expense_category_path(expense.category) if !expense.category.nil?
                  %td
                    = link_to expense.truck.registration_number, truck_path(expense.truck) if !expense.truck.nil?
                  %td
                    = expense.entity.name if !expense.entity.nil?
                  %td
                    = expense.quantity
                  %td
                    = expense.unit_price
                  %td
                    = expense.amount
                  %td
                    = expense.description