= form_for @expense_category, html: {class: 'kasoko-form'} do |f|
  .box-body.kasoko-body
    .row
      .col-md-12
        - if @expense_category.errors.any?
          #error_explanation
            %h2= "#{pluralize(@expense_category.errors.count, "error")} prohibited this expense_category from being saved:"
            %ul
              - @expense_category.errors.full_messages.each do |msg|
                %li= msg

        .form-group
          = f.label :name
          .input-group
            .input-group-addon
              %i.fa.fa-file-text-o
            = f.text_field :name, class: "form-control", value: params[:name]
  .box-footer.kasoko-footer
    .actions.pull-right
      %button.btn.btn-kasoko.btn-rounded{"data-original-title" => "", :title => "", :type => "submit"}
        %i.fa.fa-save
        Save
