%section.content
	.row
		.col-md-12
			.box
				.box-header.with-border
					%h3.box-title Trucks
					.box-tools.pull-right
						.btn-toolbar{role: "toolbar"}
							.btn-group
								%a.btn.btn-box-tool.btn-default{href: new_truck_path}
									%i.fa.fa-plus
									New
								/ .btn-group
								/   %button.btn.btn-box-tool.dropdown-toggle{"data-toggle" => "dropdown"}
								/     %i.fa.fa-wrench
								/   %ul.dropdown-menu{:role => "menu"}
								/     %li
								/       %a{:href => "#"} Action
								/     %li
								/       %a{:href => "#"} Another action
								/     %li
								/       %a{:href => "#"} Something else here
								/     %li.divider
								/     %li
								/       %a{:href => "#"} Separated link
								%a#edit-truck.btn.btn-box-tool.btn-default
									%i.fa.fa-edit
									Edit
								%a#delete-trucks.btn.btn-box-tool.btn-default{href: "#", "data-toggle" => "modal", "data-target" => "#delete_truck_modal"}
									%i.fa.fa-times
									Delete
				/ /.box-header
				.box-body
					.row
						.col-md-12
							/ start:dynamic data table
							.adv-table
								%table#example.exchange-rate.display.table.table-bordered.table-striped
									%thead
										%tr
											%th.no-sort
												= check_box_tag "toggle_trucks"
											%th Registration Number
											%th Owner
											%th Driver
											%th Turnboy
									%tbody.trucks_table
										- @trucks.each do |truck|
											%tr.gradeX
												%td
													= check_box_tag "truck[truck.id]", truck.id
												%td
													= link_to truck.registration_number, truck_path(truck)
												%td
													= link_to truck.owner.name, truck_owner_path(truck.owner) if !truck.owner.nil?
												%td
													= link_to truck.driver.name, driver_path(truck.driver) if !truck.driver.nil?
												%td
													= link_to truck.turn_boy.name, turn_boy_path(truck.turn_boy) if !truck.turn_boy.nil?
	#delete_truck_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
		.modal-dialog
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title Delete Trucks
				= form_tag delete_multiple_trucks_path do |f|
					.modal-body
						%label#lbl-msg
						= hidden_field_tag 'delete_trucks'
					.modal-footer
						%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 
							%i.fa.fa-times
							Cancel
						%button.btn.btn-danger{:type => "submit"} 
							%i.fa.fa-trash-o
							Delete