= form_for @notification do |f|
  - if @notification.errors.any?
    #error_explanation
      %h2= "#{pluralize(@notification.errors.count, "error")} prohibited this notification from being saved:"
      %ul
        - @notification.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :attachment
    = f.text_field :attachment
  .field
    = f.label :notification_type
    = f.text_field :notification_type
  .field
    = f.label :read
    = f.check_box :read
  .field
    = f.label :resolved
    = f.check_box :resolved
  .actions
    = f.submit 'Save'
