%p#notice= notice

%p
  %b Attachment:
  = @notification.attachment
%p
  %b Notification type:
  = @notification.notification_type
%p
  %b Read:
  = @notification.read
%p
  %b Resolved:
  = @notification.resolved

= link_to 'Edit', edit_notification_path(@notification)
\|
= link_to 'Back', notifications_path
