.box.box-kasoko
  .box-header.with-border
    %h3.box-title Users
    .box-tools.pull-right
      .btn-toolbar{role: "toolbar"}
        .btn-group
          %a#new-user.btn.btn-box-tool.btn-default{href: new_user_path}
            %i.fa.fa-plus
            New
          / .btn-group
          /   %button.btn.btn-box-tool.dropdown-toggle{"data-toggle" => "dropdown"}
          /     %i.fa.fa-wrench
          /   %ul.dropdown-menu{:role => "menu"}
          /     %li
          /       %a{:href => "#"} Action
          /     %li
          /       %a{:href => "#"} Another action
          /     %li
          /       %a{:href => "#"} Something else here
          /     %li.divider
          /     %li
          /       %a{:href => "#"} Separated link
          %a#edit-user.btn.btn-box-tool.btn-default
            %i.fa.fa-edit
            Edit
          %a#delete-users.btn.btn-box-tool.btn-default{href: "#", "data-toggle" => "modal", "data-target" => "#delete_user_modal"}
            %i.fa.fa-times
            Delete
  / /.box-header
  .box-body.kasoko-body
    .row
      .col-md-12
        / start:dynamic data table
        .adv-table.editable-table
          %table#example.user-table.display.table.table-bordered.table-striped
            %thead
              %tr
                %th.no-sort
                  = check_box_tag "toggle_users"
                %th Name
                %th Email
                %th Role
            %tbody.users_table
              - @users.each do |user|
                %tr.gradeX
                  %td
                    = check_box_tag "user[user.id]", user.id
                  %td
                    = link_to user.name, user_path(user)
                  %td
                    = user.email
                  %td
                    = user.role
#delete_user_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title Delete Users
      = form_tag delete_multiple_users_path do |f|
        .modal-body
          %label#lbl-msg
          = hidden_field_tag 'delete_users'
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 
            %i.fa.fa-times
            Cancel
          %button.btn.btn-danger{:type => "submit"} 
            %i.fa.fa-trash-o
            Delete