.box.box-kasoko
	.box-header.with-border
		%h3.box-title
			= @attachment.name
	.box-body.kasoko-body
		.inner
			= image_tag(@attachment.file.url, style: 'width: 100%;')
	.box-footer.kasoko-footer
		%a.btn.btn-kasoko{href: eval("#{@attachment.owner_details[:owner_type]}_path(@attachment.owner_details[:owner])")}
			%i.fa.fa-user
			Owner:
			= @attachment.owner_details[:owner].name
		%a.btn.btn-kasoko
			%i.fa.fa-calendar
			Date of Issue:
			= @attachment.date_of_issue
		%a.btn.btn-kasoko
			%i.fa.fa-calendar
			Date of Expiry:
			= @attachment.date_of_expiry
		.pull-right
			%a.btn{href: attachment_path(@attachment), method: 'DELETE'}
				%i.fa.fa-trash{style: "color: white;"}
