.box.box-kasoko
  .box-header.with-border
    %h3.box-title Truck Owners
    .box-tools.pull-right
      .btn-toolbar{role: "toolbar"}
        .btn-group
          %a.btn.btn-box-tool.btn-default{href: new_truck_owner_path}
            %i.fa.fa-plus
            New
          / .btn-group
          /   %button.btn.btn-box-tool.dropdown-toggle{"data-toggle" => "dropdown"}
          /     %i.fa.fa-wrench
          /   %ul.dropdown-menu{:role => "menu"}
          /     %li
          /       %a{:href => "#"} Action
          /     %li
          /       %a{:href => "#"} Another action
          /     %li
          /       %a{:href => "#"} Something else here
          /     %li.divider
          /     %li
          /       %a{:href => "#"} Separated link
          %a#edit-truck_owner.btn.btn-box-tool.btn-default
            %i.fa.fa-edit
            Edit
          %a#delete-truck_owners.btn.btn-box-tool.btn-default{href: "#", "data-toggle" => "modal", "data-target" => "#delete_truck_owner_modal"}
            %i.fa.fa-times
            Delete
  / /.box-header
  .box-body.kasoko-body
    .row
      .col-md-12
        / start:dynamic data table
        .adv-table
          %table#example.exchange-rate.display.table.table-bordered.table-striped
            %thead
              %tr
                %th.no-sort
                  = check_box_tag "toggle_truck_owners"
                %th Name
                %th Phone Number
                %th ID Number
                %th Address
                %th Trucks
            %tbody.truck_owners_table
              - @truck_owners.each do |truck_owner|
                %tr.gradeX
                  %td
                    = check_box_tag "truck_owner[truck_owner.id]", truck_owner.id
                  %td
                    = link_to truck_owner.name, truck_owner_path(truck_owner)
                  %td
                    = truck_owner.phone_number
                  %td
                    = truck_owner.id_number
                  %td
                    = truck_owner.address
                  %td
                    = link_to truck_owner.trucks.count, "#{trucks_path}?owner=#{truck_owner.id}"
#delete_truck_owner_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4#myModalLabel.modal-title Delete Truck Owners
      = form_tag delete_multiple_truck_owners_path do |f|
        .modal-body
          %label#lbl-msg
          = hidden_field_tag 'delete_truck_owners'
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 
            %i.fa.fa-times
            Cancel
          %button.btn.btn-danger{:type => "submit"} 
            %i.fa.fa-trash-o
            Delete