%section.content
	.row
		.col-md-12
			.box
				.box-header.with-border
					%h3.box-title Drivers
					.box-tools.pull-right
						.btn-toolbar{role: "toolbar"}
							.btn-group
								%a.btn.btn-box-tool.btn-default{href: new_driver_path}
									%i.fa.fa-plus
									New
								/ .btn-group
								/   %button.btn.btn-box-tool.dropdown-toggle{"data-toggle" => "dropdown"}
								/     %i.fa.fa-wrench
								/   %ul.dropdown-menu{:role => "menu"}
								/     %li
								/       %a{:href => "#"} Action
								/     %li
								/       %a{:href => "#"} Another action
								/     %li
								/       %a{:href => "#"} Something else here
								/     %li.divider
								/     %li
								/       %a{:href => "#"} Separated link
								%a#edit-driver.btn.btn-box-tool.btn-default
									%i.fa.fa-edit
									Edit
								%a#delete-drivers.btn.btn-box-tool.btn-default{href: "#", "data-toggle" => "modal", "data-target" => "#delete_driver_modal"}
									%i.fa.fa-times
									Delete
				/ /.box-header
				.box-body
					.row
						.col-md-12
							/ start:dynamic data table
							.adv-table
								%table#example.exchange-rate.display.table.table-bordered.table-striped
									%thead
										%tr
											%th.no-sort
												= check_box_tag "toggle_drivers"
											%th Name
											%th Phone Number
											%th ID Number
											%th Address
											%th Truck
									%tbody.drivers_table
										- @drivers.each do |driver|
											%tr.gradeX
												%td
													= check_box_tag "driver[driver.id]", driver.id
												%td
													= link_to driver.name, driver_path(driver)
												%td
													= driver.phone_number
												%td
													= driver.id_number
												%td
													= driver.address
												%td
													= link_to driver.truck.registration_number, truck_path(driver.truck) if !driver.truck.nil?
	#delete_driver_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
		.modal-dialog
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					%h4#myModalLabel.modal-title Delete Drivers
				= form_tag delete_multiple_drivers_path do |f|
					.modal-body
						%label#lbl-msg
						= hidden_field_tag 'delete_drivers'
					.modal-footer
						%button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 
							%i.fa.fa-times
							Cancel
						%button.btn.btn-danger{:type => "submit"} 
							%i.fa.fa-trash-o
							Delete