= form_for @city do |f|
  .box-body
    .row
      .col-md-12
        - if @city.errors.any?
          #error_explanation
            %h2= "#{pluralize(@city.errors.count, "error")} prohibited this city from being saved:"
            %ul
              - @city.errors.full_messages.each do |msg|
                %li= msg
        .form-group
          = f.label :name
          .input-group
            .input-group-addon
              %i.fa.fa-map
            = f.text_field :name, class: "form-control"
        .form-group
          = f.label :country
          .input-group
            .input-group-addon
              %i.fa.fa-map-marker
            = f.text_field :country, class: "form-control"
        - if @city.city_type.blank?
          .form-group
            = f.label :city_type
            %select.form-control{name: "city[city_type]"}
              %option{value: "Depot"}
                Depot
              %option{value: "Destination"}
                Destination
        - else
          = f.hidden_field :city_type, value: @city.city_type
  .box-footer
    .actions.pull-right
      %button.btn.btn-success.btn-rounded{"data-original-title" => "", :title => "", :type => "submit"}
        %i.fa.fa-save
        Save