= form_for @exchange_rate, html: {class: 'kasoko-form', remote: true} do |f|
  .box-body.kasoko-body
    .row
      .col-md-12
        - if @exchange_rate.errors.any?
          #error_explanation
            %h2= "#{pluralize(@exchange_rate.errors.count, "error")} prohibited this exchange_rate from being saved:"
            %ul
              - @exchange_rate.errors.full_messages.each do |msg|
                %li= msg

        .form-group
          = f.label :currency_one
          .input-group
            .input-group-addon
              %i.fa.fa-dollar
            = f.text_field :currency_one, class: "form-control", placeholder: "US Dollar"
        .form-group
          = f.label :currency_two
          .input-group
            .input-group-addon
              %i.fa.fa-money
            = f.text_field :currency_two, class: "form-control", placeholder: "Kenya Shilling"
        .form-group
          = f.label :rate
          .input-group
            .input-group-addon
              %i.fa.fa-file-text-o
            = f.text_field :rate, class: "form-control"
  .box-footer.kasoko-footer
    .actions.pull-right
      %button.btn.btn-kasoko.btn-rounded{"data-original-title" => "", :title => "", :type => "submit"}
        %i.fa.fa-save
        Save
