= form_for @expense, html: {class: 'kasoko-form', remote: true} do |f|
  .box-body.kasoko-body
    .row
      .col-md-12
        - if @expense.errors.any?
          #error_explanation
            %h2= "#{pluralize(@expense.errors.count, "error")} prohibited this expense from being saved:"
            %ul
              - @expense.errors.full_messages.each do |msg|
                %li= msg
        - if !@expense.new_record?
          %input#expense_category{type: 'hidden', value: "#{@expense.category.blank? ? '' : @expense.category.id}"}
          %input#expense_truck{type: 'hidden', value: "#{@expense.truck.blank? ? '' : @expense.truck.id}"}
          %input#expense_driver{type: 'hidden', value: "#{@expense.driver.blank? ? '' : @expense.driver.id}"}
          %input#expense_turn_boy{type: 'hidden', value: "#{@expense.turn_boy.blank? ? '' : @expense.turn_boy.id}"}
          %input#expense_product{type: 'hidden', value: "#{@expense.product.blank? ? '' : @expense.product.id}"}
        - else
          %input#expense_truck{type: 'hidden', value: params[:truck]}
        .row
          .col-sm-6
            .form-group
              = f.label :expense_category
              %select#expense_category.form-control{name: "expense[expense_category_id]"}
                - ExpenseCategory.where.not(name: "Diesel").each do |expense_category|
                  %option{value: expense_category.id}
                    = expense_category.name
          .col-sm-6
            .form-group
              = f.label :truck
              %select#expense_truck_id.form-control{name: "expense[truck_id]"}
                - Truck.all.each do |truck|
                  %option{value: truck.id}
                    = truck.registration_number
        .row
          .col-sm-6.expense-reason
            .form-group
              = f.label :product, "Spare Parts"
              %select.form-control{name: "expense[product_id]"}
                - Product.where(product_type: "Spare Parts").each do |product|
                  %option{value: product.id}
                    = product.name
          .col-sm-6
            .form-group
              = f.label :lpo, "LPO"
              = f.text_field :lpo, class: "form-control"
          / .col-sm-6
          /   .form-group
          /     = f.label :driver
          /     %select.form-control{name: "expense[driver_id]"}
          /       - Driver.all.each do |driver|
          /         %option{value: driver.id}
          /           = driver.name
        .row
          .col-sm-6
            .form-group
              = f.label :quantity
              = f.text_field :quantity, class: "form-control"
          .col-sm-6
            .form-group
              = f.label :unit_price
              = f.text_field :unit_price, class: "form-control"
        .row
          .col-sm-6
            .form-group
              = f.label :amount
              = f.text_field :amount, class: "form-control"
          .col-sm-6
            .form-group
              = f.label :date
              = f.text_field :date, class: "form-control datepicker"
        /   .col-sm-6
        /     .form-group
        /       = f.label :turn_boy
        /       %select.form-control{name: "expense[turn_boy_id]"}
        /         - TurnBoy.all.each do |turn_boy|
        /           %option{value: turn_boy.id}
        /             = turn_boy.name
        / .row
        /   .col-sm-12
        /     .form-group
        /       = f.label :trip
        /       %select.form-control{name: "expense[trip_id]"}
        /         - Trip.all.each do |trip|
        /           %option{value: trip.id}
        /             = trip.name
          
        .row
          .col-sm-12
            = f.label :description
            = f.text_area :description, class: "form-control"
  .box-footer.kasoko-footer
    .actions.pull-right
      %button.btn.btn-kasoko.btn-rounded{"data-original-title" => "", :title => "", :type => "submit"}
        %i.fa.fa-save
        Save