%section.content
  .row
    .col-md-12
      .box.box-info
        .box-header.with-border
          %h3.box-title Expenses
          .box-tools.pull-right
            .btn-toolbar{role: "toolbar"}
              .btn-group
                %button.btn.btn-box-tool.dropdown-toggle.btn-default{"data-toggle" => "dropdown"}
                  %i.fa.fa-filter
                  Filter
                  %i.fa.fa-caret-down
                %ul.dropdown-menu{:role => "menu"}
                  - ExpenseCategory.all.each do |category|
                    %li
                      %a{:href => "#{expenses_path}?category=#{category.id}"}
                        = category.name
              .btn-group
                %a.btn.btn-box-tool.btn-default{href: new_expense_path}
                  %i.fa.fa-plus
                  New
                / .btn-group
                /   %button.btn.btn-box-tool.dropdown-toggle{"data-toggle" => "dropdown"}
                /     %i.fa.fa-wrench
                /   %ul.dropdown-menu{:role => "menu"}
                /     %li
                /       %a{:href => "#"} Action
                /     %li
                /       %a{:href => "#"} Another action
                /     %li
                /       %a{:href => "#"} Something else here
                /     %li.divider
                /     %li
                /       %a{:href => "#"} Separated link
                %a#edit-expense.btn.btn-box-tool.btn-default
                  %i.fa.fa-edit
                  Edit
                %a#delete-expenses.btn.btn-box-tool.btn-default{href: "#", "data-toggle" => "modal", "data-target" => "#delete_expense_modal"}
                  %i.fa.fa-times
                  Delete
        / /.box-header
        .box-body
          .row
            .col-md-12
              / start:dynamic data table
              .adv-table
                %table#example.exchange-rate.display.table.table-bordered.table-striped
                  %thead
                    %tr
                      %th.no-sort
                        = check_box_tag "toggle_expenses"
                      %th LPO
                      %th Category
                      %th Amount
                      %th Truck
                      %th Trip
                      %th Description
                  %tbody.expenses_table
                    - @expenses.each do |expense|
                      %tr.gradeX
                        %td
                          = check_box_tag "expense[expense.id]", expense.id
                        %td
                          = link_to expense.lpo, expense_path(expense)
                        %td
                          = link_to expense.category.name, expense_category_path(expense.category) if !expense.category.nil?
                        %td
                          = expense.amount
                        %td
                          = link_to expense.truck.registration_number, truck_path(expense.truck) if !expense.truck.nil?
                        %td
                          = link_to expense.trip.name, trip_path(expense.trip) if !expense.trip.nil?
                        %td
                          = expense.description
  #delete_expense_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} &times;
          %h4#myModalLabel.modal-title Delete Expenses
        = form_tag delete_multiple_expenses_path do |f|
          .modal-body
            %label#lbl-msg
            = hidden_field_tag 'delete_expenses'
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} 
              %i.fa.fa-times
              Cancel
            %button.btn.btn-danger{:type => "submit"} 
              %i.fa.fa-trash-o
              Delete