= form_for @product do |f|
  .box-body
    .row
      .col-md-12
        - if @product.errors.any?
          #error_explanation
            %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
            %ul
              - @product.errors.full_messages.each do |msg|
                %li= msg
        .form-group
          = f.label :name
          .input-group
            .input-group-addon
              %i.fa.fa-user
            = f.text_field :name, class: "form-control"
        .form-group
          = f.label :price
          .input-group
            .input-group-addon
              %i.fa.fa-sort-numeric-desc
            = f.text_field :price, class: "form-control"
        .form-group
          = f.label :product_type
          %select.form-control{name: 'product[product_type]'}
            %option{value: 'Spare Parts'}
              Spare Parts
            %option{value: 'Load'}
              Load
  .box-footer
    .actions.pull-right
      %button.btn.btn-success.btn-rounded{"data-original-title" => "", :title => "", :type => "submit"}
        %i.fa.fa-save
        Save
