%section.content{style: "background: white;"}
	%br
	.row.logo-banner
		= image_tag("logo-banner.png", style: "width: 100%;")
	.row{style: "border-bottom: 1px solid black;"}
		.col-md-12
			%center
				%h4{style: "color: blue"}
					- if from.blank? || to.blank?
						- if !truck.blank?
							= "Trip Statement By Truck"
						- else
							= "Trip Statement"
					- else
						- if truck.blank?
							= "Trip Statement By Date Report"
						- else
							= "Trip Statement By Individual Truck & Date Report"
	.row{style: "border-bottom: 1px solid black;"}
		.col-md-12
			%center
				%h4{style: "color: red"}
					- if from.blank? || to.blank?
						- if !truck.blank?
							= "Accounts Statement for #{truck}"
						- else
							= "Accounts Statement"
					- else
						- if truck.blank?
							= "Accounts Statement From #{from} To #{to}"
						- else
							= "Statement For #{truck} of #{owner} From #{from} To #{to}"
	.row
		.col-md-12
			- if !from.blank? || !to.blank?
				- if !truck.blank?
					- truck_expenses[0..-2].each do |record|
						%table.table.dataTable.table-bordered
							%thead
								%tr
									%th{style: "width: 50%;"}
										No.
									%th Date
									%th Depot
									%th Destination
									%th Consignee
									%th Product
									%th Q'Ld
									%th Rate
									%th Amount
									%th Comsion
									%th Short
									%th Description
									%th Account
									%th Amt Shs
									%th Rate
									%th Amt $
									%th Net Payable
							%tbody#trip-expenses
								%div
									%b
										= "Trip : - (#{truck_expenses.index(record) + 1}. )"
								- record.each do |trip|
									%tr.gradeX
										%td
											= trip[:number]
										%td
											= trip[:date]
										%td
											= trip[:depot]
										%td
											= trip[:destination]
										%td
											= trip[:consignee]
										%td
											= trip[:product]
										%td
											.pull-right
												= trip[:quantity]
										%td
											.pull-right
												= trip[:rate]
										%td
											.pull-right
												= trip[:amount]
										%td
											.pull-right
												= trip[:commission]
										%td
											.pull-right
												= trip[:short]
										%td
											= trip[:description]
										%td
											= trip[:account]
										%td
											.pull-right
												= trip[:amount_sh]
										%td
											.pull-right
												= trip[:ex_rate]
										%td
											.pull-right
												= trip[:amount_dol]
										%td
											.pull-right
												= trip[:net_pay]
								%tr
									%td{colspan: 8}
										Total
									%td
										.pull-right
											= record.last[:total_amount]
									%td
										.pull-right
											= record.last[:total_commission]
									%td
										.pull-right
											= record.last[:total_short]
									%td{colspan: 2}
									%td
										.pull-right
											= record.last[:total_shilling]
									%td
									%td
										.pull-right
											= record.last[:total_dollar]
									%td
										.pull-right
											= record.last[:total_net]
					%table.table.no-margin{border: 1}
						%tr
							%td
								Grand Total
							%td
								.pull-right
									= truck_expenses.last[:grand_amount_total]
							%td
								.pull-right
									= truck_expenses.last[:grand_commission_total]
							%td
								.pull-right
									= truck_expenses.last[:grand_short_total]
							%td{colspan: 2}
							%td
								.pull-right
									= truck_expenses.last[:grand_shilling_total]
							%td
							%td
								.pull-right
									= truck_expenses.last[:grand_dollar_total]
							%td
								.pull-right
									= truck_expenses.last[:grand_net_total]
			- else
				%table.table
					%thead
						%tr
							%th Truck
							%th Driver
							%th Turn boy
							%th Date
							%th Depot
							%th Destination
							%th Consignee
							%th Product
							%th Quantity
							%th Rate
							%th Amount
					%tbody
						- trips.each do |trip|
							%tr.gradeX
								%td
									= trip.truck.registration_number if !trip.truck.blank?
								%td
									= trip.driver.name if !trip.driver.blank?
								%td
									= trip.turn_boy.name if !trip.turn_boy.blank?
								%td
									= trip.date
								%td
									= trip.depot.name if !trip.depot.blank?
								%td
									= trip.destination.name if !trip.destination.blank?
								%td
									= trip.consignee.name if !trip.consignee.blank?
								%td
									= trip.product.name if !trip.product.blank?
								%td
									= trip.quantity
								%td
									= trip.rate
								%td
									.pull-right
										= trip.amount
				%table.table.no-margin{border: 1}
					%tr
						%td
							Total
						%td
							.pull-right
								= to_currency(trips.sum(:amount), unit: "")
