%section.content-header
	.box-header.with-border
		%h1.box-title 
			Reports
			%small Accounts
			%input.truck-selected{type: "hidden", value: params[:truck]}
			%input.from-selected{type: "hidden", value: params[:from]}
			%input.to-selected{type: "hidden", value: params[:to]}
		.box-tools.pull-right
			.btn-toolbar{role: "toolbar"}
				.btn-group
					%select.form-control.filter-by-truck{name: 'truck'}
						%option{value: 0}
							= "-- Filter By Truck --"
						- Truck.all.each do |truck|
							%option{value: truck.id}
								= truck.name
				.btn-group
					%input.form-control.datepicker.from-date{type: "text", placeholder: "From"}
				.btn-group
					%input.form-control.datepicker.to-date{type: "text", placeholder: "To"}
				.btn-group
					%button.btn.btn-primary.range-search
						%i.fa.fa-search
				.btn-group
					%button.btn.btn-success
						%i.fa.fa-print
						Print
/ Main content
%section.content
	.row
		.col-md-6
			.info-box
				%span.info-box-icon.bg-aqua
					%i.fa.fa-dollar
				.info-box-content
					%span.info-box-text Dollar Total
					%span.info-box-number
						= to_currency(Expense.where(@truck_query).where(@date_query).total_dollar)
		/ /.col
		.col-md-6
			.info-box
				%span.info-box-icon.bg-red
					%i.fa.fa-money
				.info-box-content
					%span.info-box-text Shilling Total
					%span.info-box-number
						= to_currency(Expense.where(@truck_query).where(@date_query).total_shilling, unit: "KES ")
	.box-info
		- ExpenseCategory.all.in_groups_of(2).each do |group|
			.row
				- group.each do |category|
					.col-md-6
						.box.box-info
							.box-header.with-border
								%h3.box-title
									= category.name
								.box-tools.pull-right
									%button.btn.btn-box-tool{"data-widget" => "collapse"}
										%i.fa.fa-minus
							.box-body
								.table-responsive
									%table.table.no-margin
										%thead
											%tr
												%th Date
												%th LPO
												%th Currency
												%th Total Amount
												%th Description
										%tbody
											- category.expenses.where(@truck_query).where(@date_query).each do |expense|
												%tr
													%td
														= expense.date
													%td 
														= expense.lpo
													%td
														= expense.currency
													%td
														= expense.amount
													%td
														= expense.description
								/ /.table-responsive
							/ /.box-body
							.box-footer.clearfix
								%a.btn.btn-sm.btn-default.btn-flat
									= "Total Dollar: #{to_currency(category.total_expenses('US Dollar', params[:truck]))}"
								%a.btn.btn-sm.btn-default.btn-flat.pull-right
									= "Total Shilling: #{to_currency(category.total_expenses('Kenya Shilling', params[:truck]), unit: 'KES ')}"