%section.content-header
	.box-header.with-border
		%h1.box-title 
			Reports
			%small
				= @category.name
			%input.truck-selected{type: "hidden", value: params[:truck]}
			%input.from-selected{type: "hidden", value: params[:from]}
			%input.to-selected{type: "hidden", value: params[:to]}
		.box-tools.pull-right
			.btn-toolbar{role: "toolbar"}
				.btn-group
					%select.form-control.filter-by-truck{name: 'truck'}
						%option{value: 0}
							= "-- Filter By Truck --"
						- Truck.all.each do |truck|
							%option{value: truck.id}
								= truck.name
				.btn-group
					%input.form-control.datepicker.from-date{type: "text", placeholder: "From"}
				.btn-group
					%input.form-control.datepicker.to-date{type: "text", placeholder: "To"}
				.btn-group
					%button.btn.btn-primary.range-search
						%i.fa.fa-search
				.btn-group
					%button.btn.btn-success.print-report
						%i.fa.fa-print
						Print
/ Main content
%section.content#account-reports
	.row
		.col-md-6
			.info-box
				%span.info-box-icon.bg-aqua
					%i.fa.fa-dollar
				.info-box-content
					%span.info-box-text Dollar Total
					%span.info-box-number
						= to_currency(@category.expenses.dollar.where(@truck_query).date_between(@from, @to).sum(:dollar_amount))
		/ /.col
		.col-md-6
			.info-box
				%span.info-box-icon.bg-red
					%i.fa.fa-money
				.info-box-content
					%span.info-box-text Shilling Total
					%span.info-box-number
						= to_currency(@category.expenses.shilling.where(@truck_query).date_between(@from, @to).sum(:amount), unit: "KES ")
	.box.box-info
		.box-body
			.table-responsive
				%table.table.no-margin
					%thead
						%tr
							%th Date
							%th LPO
							%th Currency
							%th Total Amount
							%th Description
					%tbody
						- @category.expenses.where(@truck_query).date_between(@from, @to).each do |expense|
							%tr
								%td
									= expense.date
								%td 
									= expense.lpo
								%td
									= expense.currency || "Kenya Shilling"
								%td
									= to_currency((expense.is_shilling? ? expense.amount : expense.dollar_amount), unit: "")
								%td
									= expense.description