%section.content-header
	.box-header.with-border
		%h1.box-title
			Reports
			%small
				Trips
			%input.truck-selected{type: "hidden", value: params[:truck]}
			%input.from-selected{type: "hidden", value: params[:from]}
			%input.to-selected{type: "hidden", value: params[:to]}
		.box-tools.pull-right
			.btn-toolbar{role: "toolbar"}
				.btn-group
					%select.form-control.filter-by-truck{name: 'truck'}
						%option{value: 0}
							= "-- Filter By Truck --"
						- Truck.all.each do |truck|
							%option{value: truck.id}
								= truck.name
				.btn-group
					%input.form-control.datepicker.from-date{type: "text", placeholder: "From"}
				.btn-group
					%input.form-control.datepicker.to-date{type: "text", placeholder: "To"}
				.btn-group
					%button.btn.btn-primary.range-search
						%i.fa.fa-search
				.btn-group
					%button.btn.btn-success.print-report
						%i.fa.fa-print
						Print
/ Main content
%section.content
	/ .row
	/ 	.col-md-6
	/ 		.info-box
	/ 			%span.info-box-icon.bg-aqua
	/ 				%i.fa.fa-dollar
	/ 			.info-box-content
	/ 				%span.info-box-text Dollar Total
	/ 				%span.info-box-number
	/ 					= to_currency(@category.expenses.dollar.where(@truck_query).date_between(@from, @to).sum(:dollar_amount))
	/ 	/ /.col
	/ 	.col-md-6
	/ 		.info-box
	/ 			%span.info-box-icon.bg-red
	/ 				%i.fa.fa-money
	/ 			.info-box-content
	/ 				%span.info-box-text Shilling Total
	/ 				%span.info-box-number
	/ 					= to_currency(@category.expenses.shilling.where(@truck_query).date_between(@from, @to).sum(:amount), unit: "KES ")
	.box.box-info
		.box-body
			.table-responsive
				%table.table.no-margin
					%thead
						%tr
							%th Truck
							%th Driver
							%th Turn boy
							%th Date
							%th Depot
							%th Destination
							%th Consignee
							%th Product
							%th Quantity
							%th Rate
							%th Amount
					%tbody
						- Trip.where(@truck_query).date_between(@from, @to).each do |trip|
							%tr.gradeX
								%td
									= link_to trip.truck.registration_number, truck_path(trip.truck) if !trip.truck.blank?
								%td
									= link_to trip.driver.name, driver_path(trip.driver) if !trip.driver.blank?
								%td
									= link_to trip.turn_boy.name, turn_boy_path(trip.turn_boy) if !trip.turn_boy.blank?
								%td
									= trip.date
								%td
									= link_to trip.depot.name, city_path(trip.depot) if !trip.depot.blank?
								%td
									= link_to trip.destination.name, city_path(trip.destination) if !trip.destination.blank?
								%td
									= link_to trip.consignee.name, consignee_path(trip.consignee) if !trip.consignee.blank?
								%td
									= link_to trip.product.name, product_path(trip.product) if !trip.product.blank?
								%td
									= trip.quantity
								%td
									= trip.rate
								%td
									= trip.amount
#print_reports_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog
		.modal-content
			#account-reports
				/ = render 'print_report'
				= render partial: 'print_trips_report', locals: { owner: @owner, trips: Trip.where(@truck_query).date_between(@from, @to), from: @from, to: @to, truck: @truck_name }
