!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %title= content_for?(:title) ? yield(:title) : 'Tms'
        / Tell the browser to be responsive to screen width
        %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
        %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Tms'}"}
          / Bootstrap 3.3.5
        = stylesheet_link_tag 'application', media: 'all'
        = javascript_include_tag 'application'
        = csrf_meta_tags
  %body.hold-transition.skin-black-light.sidebar-mini.fixed
    .wrapper
      %header.main-header
        / Logo
        %a.logo{:href => root_path}
          / mini logo for sidebar mini 50x50 pixels
          %span.logo-mini
            %b
              %i.fa.fa-truck
          / logo for regular state and mobile devices
          %span.logo-lg
            %i.fa.fa-truck
            %b> Kasoko
        / Header Navbar: style can be found in header.less
        %nav.navbar.navbar-static-top{:role => "navigation"}
          / Sidebar toggle button
          %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
            %span.sr-only Toggle navigation
          / Navbar Right Menu
          .navbar-custom-menu
            %ul.nav.navbar-nav
              %li.dropdown.tasks-menu
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.fa.fa-bell
                  - if Notification.unread.count > 0
                    %span.label.label-danger#unread-count
                      = Notification.unread.count
                %ul.dropdown-menu
                  %li.header
                    = "You have #{pluralize(Notification.unresolved.count, "notification")}"
                  %li
                    / inner menu: contains the actual data
                    %ul.menu#notification-list
                      - Notification.unresolved.last(5).reverse.each do |notification|
                        %li
                          / Task item
                          %a{:href => notification_path(notification)}
                            %h3
                              = "#{notification.attachment.name} - #{notification.attachment.owner_name}"
                              %small.pull-right
                                %i{class: "fa fa-#{notification.read ? 'circle-thin' : 'circle'}"}
                            %small
                              %em
                                = notification.notification_type
                  %li.footer
                    %a{:href => notifications_path} View all notifications
              / User Account: style can be found in dropdown.less
              %li.dropdown.user.user-menu
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  = image_tag('/missing.jpg', class: "user-image")
                  %span.hidden-xs
                    = current_user.name
                %ul.dropdown-menu
                  / User image
                  %li.user-header
                    = image_tag('/missing.jpg', class: "img-circle")
                    %p
                      = current_user.name
                      %small
                        = current_user.role
                  / Menu Body
                  / %li.user-body
                  /   .col-xs-4.text-center
                  /     %a{:href => "#"} Followers
                  /   .col-xs-4.text-center
                  /     %a{:href => "#"} Sales
                  /   .col-xs-4.text-center
                  /     %a{:href => "#"} Friends
                  / Menu Footer
                  %li.user-footer
                    .pull-left
                      = link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-default btn-flat"
                    .pull-right
                      = link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: "btn btn-default btn-flat"
              / Control Sidebar Toggle Button
              %li
                %a{"data-toggle" => "control-sidebar", :href => "#"}
                  %i.fa.fa-gears
      / Left side column. contains the logo and sidebar
      %aside.main-sidebar
        / sidebar: style can be found in sidebar.less
        %section.sidebar
          / Sidebar user panel
          .user-panel
            .pull-left.image
              = image_tag('/missing.jpg', class: "img-circle")
            .pull-left.info
              %p
                = current_user.name
              %a{:href => "#"}
                %i.fa.fa-circle.text-success
                Online
          / search form
          %form.sidebar-form{:action => "#", :method => "get"}
            .input-group
              %input.form-control{:name => "q", :placeholder => "Search...", :type => "text"}
                %span.input-group-btn
                  %button#search-btn.btn.btn-flat{:name => "search", :type => "submit"}
                    %i.fa.fa-search
          / /.search form
          / sidebar menu: : style can be found in sidebar.less
          %ul.sidebar-menu
            %li.header MAIN NAVIGATION
            %li.active
              %a{:href => dashboard_path}
                %i.fa.fa-dashboard
                %span Dashboard
            %li.treeview
              %a{:href => cashes_path}
                %i.fa.fa-money
                %span Cash
            %li.treeview
              %a{:href => "#"}
                %i.fa.fa-bar-chart-o
                %span Reports
                %i.fa.fa-angle-left.pull-right
              %ul.treeview-menu
                %li
                  %a{:href => reports_accounts_path}
                    %i.fa.fa-tags
                    Account
                %li
                  %a{:href => reports_cash_path}
                    %i.fa.fa-money
                    Cash
                %li
                  %a{:href => reports_trips_path}
                    %i.fa.fa-list
                    Trip
                %li
                  %a{:href => reports_trucks_path}
                    %i.fa.fa-truck
                    Truck
                / %li
                /   %a{:href => reports_accounts_path}
                /     %i.fa.fa-users
                /     Drivers & Turn Boys
            / %li.treeview
            /   %a{:href => "#"}
            /     %i.fa.fa-money
            /     %span Expenses
            /     %i.fa.fa-angle-left.pull-right
            /   %ul.treeview-menu
            /     %li
            /       %a{:href => expenses_path}
            /         %i.fa.fa-circle-o
            /         All
            /     %li
            /       %a{:href => new_expense_path}
            /         %i.fa.fa-plus
            /         New
            %li.treeview
              %a{:href => diesel_expenses_path}
                %i.fa.fa-money
                %span Diesel Expenses
                / %i.fa.fa-angle-left.pull-right
              / %ul.treeview-menu
              /   %li
              /     %a{:href => "#{expenses_path}?category=#{ExpenseCategory.find_by(name: 'Diesel').nil? ? '0' : ExpenseCategory.find_by(name: 'Diesel').id}"}
              /       %i.fa.fa-circle-o
              /       All
              /   %li
              /     %a{:href => new_diesel_expense_path}
              /       %i.fa.fa-plus
              /       New
            %li.treeview
              %a{:href => "#"}
                %i.fa.fa-list
                %span Trips
                %i.fa.fa-angle-left.pull-right
              %ul.treeview-menu
                %li
                  %a{:href => trips_path}
                    %i.fa.fa-circle-o
                    All
                %li
                  %a{:href => new_trip_path}
                    %i.fa.fa-plus
                    New
            %li.treeview
              %a{:href => "#"}
                %i.fa.fa-list
                %span Products
                %i.fa.fa-angle-left.pull-right
              %ul.treeview-menu
                %li
                  %a{:href => products_path}
                    %i.fa.fa-circle-o
                    All
                %li
                  %a{:href => new_product_path}
                    %i.fa.fa-plus
                    New
            %li.treeview
              %a{:href => "#"}
                %i.fa.fa-truck
                %span Trucks
                %i.fa.fa-angle-left.pull-right
              %ul.treeview-menu
                %li
                  %a{:href => trucks_path}
                    %i.fa.fa-circle-o
                    All
                %li
                  %a{:href => new_truck_path}
                    %i.fa.fa-plus
                    New
            %li.treeview
              %a{:href => "#"}
                %i.fa.fa-user
                %span Truck Owners
                %i.fa.fa-angle-left.pull-right
              %ul.treeview-menu
                %li
                  %a{:href => truck_owners_path}
                    %i.fa.fa-circle-o
                    All
                %li
                  %a{:href => "#{truck_owners_path}?type=Company"}
                    %i.fa.fa-circle-o
                    Companies
                %li
                  %a{:href => "#{truck_owners_path}?type=Sub Contractor"}
                    %i.fa.fa-circle-o
                    Sub Contractors
                %li
                  %a{:href => new_truck_owner_path}
                    %i.fa.fa-plus
                    New
            %li.treeview
              %a{:href => "#"}
                %i.fa.fa-users
                %span Truck Staff
                %i.fa.fa-angle-left.pull-right
              %ul.treeview-menu
                %li
                  %a{:href => drivers_path}
                    %i.fa.fa-user
                    Drivers
                %li
                  %a{:href => turn_boys_path}
                    %i.fa.fa-user
                    Turnboys
            %li.treeview
              %a{:href => "#"}
                %i.fa.fa-cog
                %span Settings
                %i.fa.fa-angle-left.pull-right
              %ul.treeview-menu
                - if current_user.is_admin
                  %li
                    %a{:href => users_path}
                      %i.fa.fa-users
                      Users
                  %li
                    %a{:href => "#{ExchangeRate.count < 1 ? new_exchange_rate_path : edit_exchange_rate_path(ExchangeRate.first)}"}
                      %i.fa.fa-money
                      Exchange Rate
                %li
                  %a{:href => expense_categories_path}
                    %i.fa.fa-tags
                    Expense Categories
                %li
                  %a{:href => diesel_companies_path}
                    %i.fa.fa-institution
                    Diesel Companies
                %li
                  %a{:href => consignees_path}
                    %i.fa.fa-circle-o
                    Consignees
                %li
                  %a{:href => "#{cities_path}?type=Depot"}
                    %i.fa.fa-circle-o
                    Depots
                %li
                  %a{:href => "#{cities_path}?type=Destination"}
                    %i.fa.fa-circle-o
                    Destinations
            %li.treeview
              %a{:href => attachments_path}
                %i.fa.fa-paperclip
                %span Documents
        / /.sidebar
      / Content Wrapper. Contains page content
      .content-wrapper
        / Content Header (Page header)
        = render 'layouts/messages'
        = yield
      %footer.main-footer
        .pull-right.hidden-xs
          %b Contact Us:
          <a href="mailto:muaad@mursal.co">muaad@mursal.co</a>
        %strong
          Copyright &copy;
          = Time.now.year
          = succeed "." do
            %a{:href => "http://kasoko.co.ke"} Kasoko
        All rights reserved.
      / Control Sidebar
      %aside.control-sidebar.control-sidebar-dark
        / Create the tabs
        %ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
          %li
            %a{"data-toggle" => "tab", :href => "#control-sidebar-settings-tab"}
              %i.fa.fa-gears
        / Tab panes
        .tab-content
          / Home tab content
          #control-sidebar-settings-tab.tab-pane
            %form{:method => "post"}
              %h3.control-sidebar-heading General Settings
              .form-group
                %label.control-sidebar-subheading
                  Report panel usage
                  %input.pull-right{:checked => "", :type => "checkbox"}
                %p
                  Some information about this general settings option
              / /.form-group
              .form-group
                %label.control-sidebar-subheading
                  Allow mail redirect
                  %input.pull-right{:checked => "", :type => "checkbox"}
                %p
                  Other sets of options are available
              / /.form-group
              .form-group
                %label.control-sidebar-subheading
                  Expose author name in posts
                  %input.pull-right{:checked => "", :type => "checkbox"}
                %p
                  Allow the user to show his name in blog posts
              / /.form-group
              %h3.control-sidebar-heading Chat Settings
              .form-group
                %label.control-sidebar-subheading
                  Show me as online
                  %input.pull-right{:checked => "", :type => "checkbox"}
              / /.form-group
              .form-group
                %label.control-sidebar-subheading
                  Turn off notifications
                  %input.pull-right{:type => "checkbox"}
              / /.form-group
              .form-group
                %label.control-sidebar-subheading
                  Delete chat history
                  %a.text-red.pull-right{:href => "javascript::;"}
                    %i.fa.fa-trash-o
              / /.form-group
          / /.tab-pane
      / /.control-sidebar
      /
        Add the sidebar's background. This div must be placed
        immediately after the control sidebar
      .control-sidebar-bg
