!!!
%html
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %title Kasoko | Transportation
        / Tell the browser to be responsive to screen width
        %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
        %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Kasoko Truck Management System'}"}
        %link{href: "/kasoko.ico", rel: "shortcut icon", type: "image/x-icon"}
        = stylesheet_link_tag 'application', media: 'all'
        = javascript_include_tag 'application'
        = csrf_meta_tags
  / ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR.
  %body.hold-transition.skin-black-light.layout-top-nav
    .wrapper
      %header.main-header
        %nav.navbar.navbar-static-top
          .container
            .navbar-header
              %a.logo{:href => '/'}
                / mini logo for sidebar mini 50x50 pixels
                %span.logo-mini
                  = image_tag('icon.png', style: "width: 45px; height: 45px; float: left; padding-top: 5px;")
                / logo for regular state and mobile devices
                %span.logo-lg
                  = image_tag('logo3.png', style: "width: 200px; float: left; padding-top: 5px;")
            / Collect the nav links, forms, and other content for toggling
            #navbar-collapse.collapse.navbar-collapse.pull-right
              %ul.nav.navbar-nav
                %li
                  = link_to "Sign Up", new_user_registration_path
            / /.navbar-collapse
            
          / /.container-fluid
      / Full Width Column
      .content_wrapper
        .container
          = yield
        / /.container
      / /.content-wrapper
      %footer.main-footer
        .container
          %strong
            Copyright &copy;
            = Time.now.year
            = succeed "." do
              %a{:href => "https://kasoko.co.ke"} Kasoko
          All rights reserved.
        / /.container
    / ./wrapper