= form_for @turn_boy do |f|
  .box-body
    .row
      .col-md-12
        - if @turn_boy.errors.any?
          #error_explanation
            %h2= "#{pluralize(@turn_boy.errors.count, "error")} prohibited this turn_boy from being saved:"
            %ul
              - @turn_boy.errors.full_messages.each do |msg|
                %li= msg
        .form-group
          = f.label :name
          .input-group
            .input-group-addon
              %i.fa.fa-user
            = f.text_field :name, class: "form-control"
        .form-group
          = f.label :phone_number
          .input-group
            .input-group-addon
              %i.fa.fa-phone
            = f.text_field :phone_number, class: "form-control"
        .form-group
          = f.label :id_number
          .input-group
            .input-group-addon
              %i.fa.fa-credit-card
            = f.text_field :id_number, class: "form-control"
  .box-footer
    .actions.pull-right
      %button.btn.btn-success.btn-rounded{"data-original-title" => "", :title => "", :type => "submit"}
        %i.fa.fa-save
        Save